div#Home {
    width: 100%;
    min-height: 100vh;
    background-image: url("../../assets/login_background.jpg");
    overflow: hidden;
    @media (max-width: 425px) {
      background-image: none;
      background-color: #000;
    }
  
    > div.opactity_controller {
      width: 100%;
      min-height: 100vh;
      background-color: rgba(0, 0, 0, 0.5);
  
      display: grid;
      grid-template-rows: auto 1fr auto;
  
      > header {
        padding: 24px 5%;
        width: 100%;
  
        > img {
          width: 167px;
          @media (max-width: 425px) {
            width: 75px;
          }
        }
      }
  
      > footer {
        width: 100%;
        padding: 32px 20%;
        background-color: black;
        @media (max-width: 425px) {
          padding: 32px 5%;
          border-top: 1px solid #757575;
        }
  
        > p {
          color: #757575;
          margin-bottom: 30px;
          > a {
            text-decoration: none;
            cursor: pointer;
            &:hover {
              text-decoration: underline;
            }
          }
        }
  
        > ul {
          width: 100%;
          display: flex;
          align-items: center;
          list-style: none;
          margin-bottom: 30px;
          &:last-child {
            margin-right: 0 !important;
          }
  
          @media (max-width: 425px) {
            flex-wrap: wrap;
          }
  
          > li {
            color: #757575;
            font-size: 13px;
            margin-right: 128px;
  
            @media (max-width: 425px) {
              margin-right: 0;
              padding: 0 16px 16px 0;
            }
  
            &:hover {
              text-decoration: underline;
            }
          }
        }
  
        > div {
          position: relative;
          margin-bottom: 30px;
          @media (max-width: 425px) {
            margin-bottom: 0;
          }
  
          > img {
            width: 18px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 16px;
          }
  
          select {
            background-color: #000;
            padding: 12px 26px 12px 50px;
            border-radius: 4px;
            border: 1px solid #75757599;
            color: #757575;
            &:focus {
              border: 2px solid #fff;
              padding: 11px 25px 11px 49px;
            }
          }
        }
      }
    }
  }
  
  @media (max-width: 425px) {
    div#Login {
      > div.opacity_controller {
        > header {
          > img {
          }
        }
      }
    }
  }

  .button-patter {
    background-color: var(--primary);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .content{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    height: 750px;
  }

  .default-ltr-cache-dulgtd{
    box-sizing: border-box;
    overflow-x: hidden;
    position: relative;
    height: 6.25rem;
    width: 100%;
  }
  
  .dark-body{
    background-color: #000000;
    height: 300px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .pop-card:hover{
    transform: scale(1.1);
  }

  .pop-card{
    display: flex;
    overflow: hidden;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
  }

  .pop-card-container {
    content: ' ';
    font-size: 12px;
    border-radius: 8px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to right, #472566, #2F215C, #161D52);
  }

  .pop-card-container:hover{
    filter: brightness(1.2);
  }

  .pop-card > h1, h2 {
    margin-left: 50px;
  }

  .row-select-dropdown{
    line-height: 1.5;
    padding-top: 0.5rem;
    padding-right: calc(2.25rem + 0rem);
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    margin-left: 15px;
    margin-top: 15px;
    background-color: #0F0F0F;
    color: white;
    border: #3a3a3a solid 1px;
  }

  .background-black
  {
    background-color: black;
  }

  .color-white{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-content{
    display: flex;
  }

  .card{
   background: linear-gradient(to right, #1A2145, #1D162A, #210F18);;
   margin: 15px;
   border-radius: 8%;
   width: 300px;
   height: 330px;
   font-size: 14px;

   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: start;
   padding: 15px;
  }

  .margin-end{
    margin-left: auto;
  }

  .faq-home-content{
    width: 100%;
    margin-left: 15%;
    margin-right: 15%;
  }

  .text-color{
    color: #bebebe;
  }

  .em-alta{
    height: 150px;
  }

  .saiba-mais{
    margin: 15px;
    border-style: solid;
    border-width: 0.0625rem;
    border-radius: calc(0.25rem - 0.0625rem);
    background-color: #3B3C62;
    color: white;
  }