/* Estilos principais do carrossel */
.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .carousel-slide {
    width: 100%;
    display: flex;
    overflow: hidden;
    width: 1200px;
  }
  
  .carousel-slide button{
    background-color: #1A1A1A;
    color: #FFFFFF;
  }
  .carousel-image {
    width: 90%;
    height: auto;
    border-radius: 8px;
    margin: 10px;
  }
  
  .carousel-button {
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 24px;
    z-index: 1;
    width: 50px;
    height: 170px;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(255, 255, 255);
  }
  
  .carousel-button:hover {
    background-color:rgba(255, 255, 255, 0.356); ;
  }
  
  .carousel{
    display: flex;
    justify-content: center;
    align-items: center;
  }